auto-save-list
elpa
init.el~
projectile-bookmarks.eld
bookmarks
recentf
.DS_Store
.#
'#!*
\#!*
.lsp*

ido.last
smex-items

network-security.data

*.dat
session.*
.cache
transient

backups/!*
tramp

.emacs.desktop*
url

custom.el

.dap-breakpoints
projects
